<h1> Welcome  <%= @user.name %> </h1>
<% @user.courses.each do |course| %>
<br/>
<%= link_to course.name, course_questions_path(course.id) %>
<% end %>

<br/>
<%= @user.courses.size() == 0 ? "You don't have course, Please select it." : ""%>
<br/>
<%= link_to "Select Courses", courses_path %>
