<% if @user.errors.any? %>
    <div>
      The form contains <%= pluralize(@user.errors.count, "error") %>.<br/>

    <ul style="color:red">
    <% @user.errors.full_messages.each do |msg| %><br/>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
