
  <div class="div-center">
  <nav>
  <ul class="nav navbar-nav navbar-right custom-nav">
    <li><%= logged_in? ? link_to("Home", index_path) : link_to("Home", login_path) %></li>
    <li><a href="#">About</a></li>
    <% if logged_in? %>
    <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
    <li><%= link_to "Sign up", signup_path %></li>
    <% end %>
  </ul>
  </nav>
</div>
